//
// Written by Synplify Pro 
// Product Version "P-2019.03M-SP1-1"
// Program "Synplify Pro", Mapper "mapact, Build 2737R"
// Tue Jun  2 14:58:54 2020
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\generic\smartfusion2.v "
// file 1 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\vlog\hypermods.v "
// file 2 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\d:\smartfusion2-projects-windows\demo-proj\demo\component\work\demo_sb_sb\ccc_0\demo_sb_sb_ccc_0_fccc.v "
// file 6 "\d:\smartfusion2-projects-windows\demo-proj\demo\component\actel\sgcore\osc\2.0.101\osc_comps.v "
// file 7 "\d:\smartfusion2-projects-windows\demo-proj\demo\component\work\demo_sb_sb\fabosc_0\demo_sb_sb_fabosc_0_osc.v "
// file 8 "\d:\smartfusion2-projects-windows\demo-proj\demo\component\work\demo_sb_sb_mss\demo_sb_sb_mss_syn.v "
// file 9 "\d:\smartfusion2-projects-windows\demo-proj\demo\component\work\demo_sb_sb_mss\demo_sb_sb_mss.v "
// file 10 "\d:\smartfusion2-projects-windows\demo-proj\demo\component\actel\directcore\coreresetp\7.1.100\rtl\vlog\core\coreresetp_pcie_hotreset.v "
// file 11 "\d:\smartfusion2-projects-windows\demo-proj\demo\component\actel\directcore\coreresetp\7.1.100\rtl\vlog\core\coreresetp.v "
// file 12 "\d:\smartfusion2-projects-windows\demo-proj\demo\component\work\demo_sb_sb\demo_sb_sb.v "
// file 13 "\d:\smartfusion2-projects-windows\demo-proj\demo\component\work\demo_sb\demo_sb.v "
// file 14 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\nlconst.dat "
// file 15 "\d:\smartfusion2-projects-windows\demo-proj\demo\designer\demo_sb\synthesis.fdc "

`timescale 100 ps/100 ps
module demo_sb_sb_CCC_0_FCCC (
  FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC,
  LOCK,
  GL0_INST_1z
)
;
input FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
output LOCK ;
output GL0_INST_1z ;
wire FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire LOCK ;
wire GL0_INST_1z ;
wire [7:0] PRDATA;
wire GL0_net ;
wire Y0 ;
wire Y1 ;
wire Y2 ;
wire Y3 ;
wire BUSY ;
wire VCC ;
wire GND ;
wire GL1 ;
wire GL2 ;
wire GL3 ;
// @5:18
  CLKINT GL0_INST (
	.Y(GL0_INST_1z),
	.A(GL0_net)
);
//@12:180
// @5:20
  CCC CCC_INST (
	.Y0(Y0),
	.Y1(Y1),
	.Y2(Y2),
	.Y3(Y3),
	.PRDATA(PRDATA[7:0]),
	.LOCK(LOCK),
	.BUSY(BUSY),
	.CLK0(VCC),
	.CLK1(VCC),
	.CLK2(VCC),
	.CLK3(VCC),
	.NGMUX0_SEL(GND),
	.NGMUX1_SEL(GND),
	.NGMUX2_SEL(GND),
	.NGMUX3_SEL(GND),
	.NGMUX0_HOLD_N(VCC),
	.NGMUX1_HOLD_N(VCC),
	.NGMUX2_HOLD_N(VCC),
	.NGMUX3_HOLD_N(VCC),
	.NGMUX0_ARST_N(VCC),
	.NGMUX1_ARST_N(VCC),
	.NGMUX2_ARST_N(VCC),
	.NGMUX3_ARST_N(VCC),
	.PLL_BYPASS_N(VCC),
	.PLL_ARST_N(VCC),
	.PLL_POWERDOWN_N(VCC),
	.GPD0_ARST_N(VCC),
	.GPD1_ARST_N(VCC),
	.GPD2_ARST_N(VCC),
	.GPD3_ARST_N(VCC),
	.PRESET_N(GND),
	.PCLK(VCC),
	.PSEL(VCC),
	.PENABLE(VCC),
	.PWRITE(VCC),
	.PADDR({VCC, VCC, VCC, VCC, VCC, VCC}),
	.PWDATA({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.CLK0_PAD(GND),
	.CLK1_PAD(GND),
	.CLK2_PAD(GND),
	.CLK3_PAD(GND),
	.GL0(GL0_net),
	.GL1(GL1),
	.GL2(GL2),
	.GL3(GL3),
	.RCOSC_25_50MHZ(FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC),
	.RCOSC_1MHZ(GND),
	.XTLOSC(GND)
);
defparam CCC_INST.INIT=210'h0000007FB8000044D74000318C6318C1F18C61EC0404040400301;
defparam CCC_INST.VCOFREQUENCY=800.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* demo_sb_sb_CCC_0_FCCC */

module CoreResetP_Z1 (
  CORERESETP_0_RESET_N_F2M,
  GL0_INST,
  SYSRESET_POR
)
;
output CORERESETP_0_RESET_N_F2M ;
input GL0_INST ;
input SYSRESET_POR ;
wire CORERESETP_0_RESET_N_F2M ;
wire GL0_INST ;
wire SYSRESET_POR ;
wire POWER_ON_RESET_N_clk_base_Z ;
wire VCC ;
wire sm1_areset_n_q1_Z ;
wire GND ;
wire N_54 ;
wire N_53 ;
wire N_52 ;
wire N_51 ;
wire N_50 ;
wire N_49 ;
wire N_48 ;
wire N_47 ;
wire N_46 ;
wire N_45 ;
wire N_44 ;
wire N_43 ;
wire N_42 ;
wire N_41 ;
wire N_40 ;
wire N_39 ;
wire N_38 ;
wire N_37 ;
wire N_36 ;
wire N_35 ;
wire N_34 ;
wire N_33 ;
wire N_32 ;
wire N_31 ;
wire N_30 ;
wire N_29 ;
wire N_28 ;
wire N_27 ;
wire N_26 ;
wire N_25 ;
wire N_24 ;
wire N_23 ;
wire N_22 ;
wire N_21 ;
wire N_20 ;
wire N_19 ;
wire N_18 ;
wire N_17 ;
wire N_16 ;
wire N_15 ;
wire N_14 ;
wire N_13 ;
wire N_2 ;
wire N_1 ;
wire N_222 ;
wire N_221 ;
wire N_220 ;
wire N_219 ;
wire N_218 ;
wire N_217 ;
wire N_216 ;
wire N_54_0 ;
wire N_53_0 ;
wire N_52_0 ;
wire N_51_0 ;
wire N_50_0 ;
wire N_49_0 ;
wire N_48_0 ;
wire N_47_0 ;
wire N_46_0 ;
wire N_45_0 ;
wire N_44_0 ;
wire N_43_0 ;
wire N_42_0 ;
wire N_41_0 ;
wire N_40_0 ;
wire N_39_0 ;
wire N_38_0 ;
wire N_37_0 ;
wire N_36_0 ;
wire N_35_0 ;
wire N_34_0 ;
wire N_33_0 ;
wire N_32_0 ;
wire N_31_0 ;
wire N_30_0 ;
wire N_29_0 ;
wire N_28_0 ;
wire N_27_0 ;
wire N_26_0 ;
wire N_25_0 ;
wire N_24_0 ;
wire N_23_0 ;
wire N_22_0 ;
wire N_21_0 ;
wire N_20_0 ;
wire N_19_0 ;
wire N_18_0 ;
wire N_17_0 ;
wire N_16_0 ;
wire N_15_0 ;
wire N_14_0 ;
wire N_13_0 ;
wire N_12 ;
wire N_11 ;
wire N_10 ;
wire N_9 ;
wire N_8 ;
wire N_7 ;
// @11:496
  SLE POWER_ON_RESET_N_clk_base (
	.Q(POWER_ON_RESET_N_clk_base_Z),
	.ADn(VCC),
	.ALn(SYSRESET_POR),
	.CLK(GL0_INST),
	.D(sm1_areset_n_q1_Z),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:769
  SLE sm1_areset_n_q1 (
	.Q(sm1_areset_n_q1_Z),
	.ADn(VCC),
	.ALn(SYSRESET_POR),
	.CLK(GL0_INST),
	.D(VCC),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:1388
  SLE RESET_N_F2M_int (
	.Q(CORERESETP_0_RESET_N_F2M),
	.ADn(VCC),
	.ALn(POWER_ON_RESET_N_clk_base_Z),
	.CLK(GL0_INST),
	.D(VCC),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* CoreResetP_Z1 */

module demo_sb_sb_MSS (
  GL0_INST,
  CORERESETP_0_RESET_N_F2M,
  MMUART_0_RXD_F2M_c,
  GPIO_9_F2M_c,
  BIBUF_0_Y,
  BIBUF_1_Y,
  LOCK,
  GPIO_8_M2F_c,
  MMUART_0_TXD_M2F_c,
  demo_sb_sb_0_I2C_0_SDA_M2F_OE,
  demo_sb_sb_0_I2C_0_SDA_M2F,
  demo_sb_sb_0_I2C_0_SCL_M2F_OE,
  demo_sb_sb_0_I2C_0_SCL_M2F,
  GPIO_2_M2F_c,
  GPIO_4_M2F_c,
  GPIO_3_M2F_c,
  SPI_0_CLK,
  SPI_0_DI,
  SPI_0_DO,
  SPI_0_SS0
)
;
input GL0_INST ;
input CORERESETP_0_RESET_N_F2M ;
input MMUART_0_RXD_F2M_c ;
input GPIO_9_F2M_c ;
input BIBUF_0_Y ;
input BIBUF_1_Y ;
input LOCK ;
output GPIO_8_M2F_c ;
output MMUART_0_TXD_M2F_c ;
output demo_sb_sb_0_I2C_0_SDA_M2F_OE ;
output demo_sb_sb_0_I2C_0_SDA_M2F ;
output demo_sb_sb_0_I2C_0_SCL_M2F_OE ;
output demo_sb_sb_0_I2C_0_SCL_M2F ;
output GPIO_2_M2F_c ;
output GPIO_4_M2F_c ;
output GPIO_3_M2F_c ;
inout SPI_0_CLK /* synthesis syn_tristate = 1 */ ;
input SPI_0_DI ;
output SPI_0_DO ;
inout SPI_0_SS0 /* synthesis syn_tristate = 1 */ ;
wire GL0_INST ;
wire CORERESETP_0_RESET_N_F2M ;
wire MMUART_0_RXD_F2M_c ;
wire GPIO_9_F2M_c ;
wire BIBUF_0_Y ;
wire BIBUF_1_Y ;
wire LOCK ;
wire GPIO_8_M2F_c ;
wire MMUART_0_TXD_M2F_c ;
wire demo_sb_sb_0_I2C_0_SDA_M2F_OE ;
wire demo_sb_sb_0_I2C_0_SDA_M2F ;
wire demo_sb_sb_0_I2C_0_SCL_M2F_OE ;
wire demo_sb_sb_0_I2C_0_SCL_M2F ;
wire GPIO_2_M2F_c ;
wire GPIO_4_M2F_c ;
wire GPIO_3_M2F_c ;
wire SPI_0_CLK ;
wire SPI_0_DI ;
wire SPI_0_DO ;
wire SPI_0_SS0 ;
wire [7:0] EDAC_ERROR;
wire [31:0] F_FM0_RDATA;
wire [31:0] F_HM0_ADDR;
wire [1:0] F_HM0_SIZE;
wire [31:0] F_HM0_WDATA;
wire [1:0] FAB_OPMODE;
wire [3:0] FAB_VCONTROL;
wire [1:0] FAB_XCVRSEL;
wire [7:0] FAB_XDATAOUT;
wire [1:0] FIC32_0_MASTER;
wire [1:0] FIC32_1_MASTER;
wire [15:0] H2F_INTERRUPT;
wire [15:2] FIC_2_APB_M_PADDR;
wire [31:0] FIC_2_APB_M_PWDATA;
wire [9:0] TCGF;
wire [3:0] TRACEDATA;
wire [3:0] TXD_RIF;
wire [7:0] TXDF;
wire [3:0] F_BID;
wire [1:0] F_BRESP_HRESP0;
wire [63:0] F_RDATA_HRDATA01;
wire [3:0] F_RID;
wire [1:0] F_RRESP_HRESP1;
wire [15:0] MDDR_FABRIC_PRDATA;
wire [15:0] DRAM_ADDR;
wire [2:0] DRAM_BA;
wire [2:0] DRAM_DM_RDQS_OUT;
wire [17:0] DRAM_DQ_OUT;
wire [2:0] DRAM_DQS_OUT;
wire [1:0] DRAM_FIFO_WE_OUT;
wire [2:0] DM_OE;
wire [17:0] DRAM_DQ_OE;
wire [2:0] DRAM_DQS_OE;
wire SPI_0_SS0_PAD_Y ;
wire MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OUT ;
wire MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OE ;
wire MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OUT ;
wire MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OE ;
wire SPI_0_DI_PAD_Y ;
wire SPI_0_CLK_PAD_Y ;
wire MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OUT ;
wire MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OE ;
wire CAN_RXBUS_MGPIO3A_H2F_A ;
wire CAN_TX_EBL_MGPIO4A_H2F_A ;
wire CAN_TXBUS_MGPIO2A_H2F_A ;
wire FIC_2_APB_M_PCLK ;
wire COMMS_INT ;
wire FIC_2_APB_M_PRESET_N ;
wire F_FM0_READYOUT ;
wire F_FM0_RESP ;
wire F_HM0_ENABLE ;
wire F_HM0_SEL ;
wire F_HM0_TRANS1 ;
wire F_HM0_WRITE ;
wire FAB_CHRGVBUS ;
wire FAB_DISCHRGVBUS ;
wire FAB_DMPULLDOWN ;
wire FAB_DPPULLDOWN ;
wire FAB_DRVVBUS ;
wire FAB_IDPULLUP ;
wire FAB_SUSPENDM ;
wire FAB_TERMSEL ;
wire FAB_TXVALID ;
wire FAB_VCONTROLLOADM ;
wire FACC_GLMUX_SEL ;
wire MSS_RESET_N_M2F ;
wire GTX_CLK ;
wire H2F_NMI ;
wire H2FCALIB ;
wire I2C1_SCL_MGPIO1A_H2F_A ;
wire I2C1_SCL_MGPIO1A_H2F_B ;
wire I2C1_SDA_MGPIO0A_H2F_A ;
wire I2C1_SDA_MGPIO0A_H2F_B ;
wire MDCF ;
wire MDOENF ;
wire MDOF ;
wire MMUART0_CTS_MGPIO19B_H2F_A ;
wire MMUART0_CTS_MGPIO19B_H2F_B ;
wire MMUART0_DCD_MGPIO22B_H2F_A ;
wire MMUART0_DCD_MGPIO22B_H2F_B ;
wire MMUART0_DSR_MGPIO20B_H2F_A ;
wire MMUART0_DSR_MGPIO20B_H2F_B ;
wire MMUART0_DTR_MGPIO18B_H2F_A ;
wire MMUART0_DTR_MGPIO18B_H2F_B ;
wire MMUART0_RI_MGPIO21B_H2F_A ;
wire MMUART0_RI_MGPIO21B_H2F_B ;
wire MMUART0_RTS_MGPIO17B_H2F_A ;
wire MMUART0_RTS_MGPIO17B_H2F_B ;
wire MMUART0_RXD_MGPIO28B_H2F_A ;
wire MMUART0_RXD_MGPIO28B_H2F_B ;
wire MMUART0_SCK_MGPIO29B_H2F_A ;
wire MMUART0_SCK_MGPIO29B_H2F_B ;
wire MMUART0_TXD_MGPIO27B_H2F_B ;
wire MMUART1_DTR_MGPIO12B_H2F_A ;
wire MMUART1_RTS_MGPIO11B_H2F_A ;
wire MMUART1_RTS_MGPIO11B_H2F_B ;
wire MMUART1_RXD_MGPIO26B_H2F_A ;
wire MMUART1_RXD_MGPIO26B_H2F_B ;
wire MMUART1_SCK_MGPIO25B_H2F_A ;
wire MMUART1_SCK_MGPIO25B_H2F_B ;
wire MMUART1_TXD_MGPIO24B_H2F_A ;
wire MMUART1_TXD_MGPIO24B_H2F_B ;
wire MPLL_LOCK ;
wire FIC_2_APB_M_PENABLE ;
wire FIC_2_APB_M_PSEL ;
wire FIC_2_APB_M_PWRITE ;
wire RTC_MATCH ;
wire SLEEPDEEP ;
wire SLEEPHOLDACK ;
wire SLEEPING ;
wire SMBALERT_NO0 ;
wire SMBALERT_NO1 ;
wire SMBSUS_NO0 ;
wire SMBSUS_NO1 ;
wire SPI0_CLK_OUT ;
wire SPI0_SDI_MGPIO5A_H2F_A ;
wire SPI0_SDI_MGPIO5A_H2F_B ;
wire SPI0_SDO_MGPIO6A_H2F_A ;
wire SPI0_SDO_MGPIO6A_H2F_B ;
wire SPI0_SS0_MGPIO7A_H2F_A ;
wire SPI0_SS0_MGPIO7A_H2F_B ;
wire SPI0_SS1_MGPIO8A_H2F_A ;
wire SPI0_SS2_MGPIO9A_H2F_A ;
wire SPI0_SS2_MGPIO9A_H2F_B ;
wire SPI0_SS3_MGPIO10A_H2F_A ;
wire SPI0_SS3_MGPIO10A_H2F_B ;
wire SPI0_SS4_MGPIO19A_H2F_A ;
wire SPI0_SS5_MGPIO20A_H2F_A ;
wire SPI0_SS6_MGPIO21A_H2F_A ;
wire SPI0_SS7_MGPIO22A_H2F_A ;
wire SPI1_CLK_OUT ;
wire SPI1_SDI_MGPIO11A_H2F_A ;
wire SPI1_SDI_MGPIO11A_H2F_B ;
wire SPI1_SDO_MGPIO12A_H2F_A ;
wire SPI1_SDO_MGPIO12A_H2F_B ;
wire SPI1_SS0_MGPIO13A_H2F_A ;
wire SPI1_SS0_MGPIO13A_H2F_B ;
wire SPI1_SS1_MGPIO14A_H2F_A ;
wire SPI1_SS1_MGPIO14A_H2F_B ;
wire SPI1_SS2_MGPIO15A_H2F_A ;
wire SPI1_SS2_MGPIO15A_H2F_B ;
wire SPI1_SS3_MGPIO16A_H2F_A ;
wire SPI1_SS3_MGPIO16A_H2F_B ;
wire SPI1_SS4_MGPIO17A_H2F_A ;
wire SPI1_SS5_MGPIO18A_H2F_A ;
wire SPI1_SS6_MGPIO23A_H2F_A ;
wire SPI1_SS7_MGPIO24A_H2F_A ;
wire TRACECLK ;
wire TX_CLK ;
wire TX_ENF ;
wire TX_ERRF ;
wire TXCTL_EN_RIF ;
wire TXEV ;
wire WDOGTIMEOUT ;
wire F_ARREADY_HREADYOUT1 ;
wire F_AWREADY_HREADYOUT0 ;
wire F_BVALID ;
wire F_RLAST ;
wire F_RVALID ;
wire F_WREADY ;
wire MDDR_FABRIC_PREADY ;
wire MDDR_FABRIC_PSLVERR ;
wire VCC ;
wire GND ;
wire CAN_RXBUS_USBA_DATA1_MGPIO3A_OUT ;
wire CAN_TX_EBL_USBA_DATA2_MGPIO4A_OUT ;
wire CAN_TXBUS_USBA_DATA0_MGPIO2A_OUT ;
wire DRAM_CASN ;
wire DRAM_CKE ;
wire DRAM_CLK ;
wire DRAM_CSN ;
wire DRAM_ODT ;
wire DRAM_RASN ;
wire DRAM_RSTN ;
wire DRAM_WEN ;
wire I2C0_SCL_USBC_DATA1_MGPIO31B_OUT ;
wire I2C0_SDA_USBC_DATA0_MGPIO30B_OUT ;
wire I2C1_SCL_USBA_DATA4_MGPIO1A_OUT ;
wire I2C1_SDA_USBA_DATA3_MGPIO0A_OUT ;
wire MGPIO25A_OUT ;
wire MGPIO26A_OUT ;
wire MMUART0_CTS_USBC_DATA7_MGPIO19B_OUT ;
wire MMUART0_DCD_MGPIO22B_OUT ;
wire MMUART0_DSR_MGPIO20B_OUT ;
wire MMUART0_DTR_USBC_DATA6_MGPIO18B_OUT ;
wire MMUART0_RI_MGPIO21B_OUT ;
wire MMUART0_RTS_USBC_DATA5_MGPIO17B_OUT ;
wire MMUART0_RXD_USBC_STP_MGPIO28B_OUT ;
wire MMUART0_SCK_USBC_NXT_MGPIO29B_OUT ;
wire MMUART0_TXD_USBC_DIR_MGPIO27B_OUT ;
wire MMUART1_CTS_MGPIO13B_OUT ;
wire MMUART1_DCD_MGPIO16B_OUT ;
wire MMUART1_DSR_MGPIO14B_OUT ;
wire MMUART1_DTR_MGPIO12B_OUT ;
wire MMUART1_RI_MGPIO15B_OUT ;
wire MMUART1_RTS_MGPIO11B_OUT ;
wire MMUART1_RXD_USBC_DATA3_MGPIO26B_OUT ;
wire MMUART1_SCK_USBC_DATA4_MGPIO25B_OUT ;
wire MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT ;
wire RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OUT ;
wire RGMII_MDC_RMII_MDC_OUT ;
wire RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT ;
wire RGMII_RX_CLK_OUT ;
wire RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT ;
wire RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT ;
wire RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT ;
wire RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT ;
wire RGMII_RXD3_USBB_DATA4_OUT ;
wire RGMII_TX_CLK_OUT ;
wire RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OUT ;
wire RGMII_TXD0_RMII_TXD0_USBB_DIR_OUT ;
wire RGMII_TXD1_RMII_TXD1_USBB_STP_OUT ;
wire RGMII_TXD2_USBB_DATA5_OUT ;
wire RGMII_TXD3_USBB_DATA6_OUT ;
wire SPI0_SDI_USBA_DIR_MGPIO5A_OUT ;
wire SPI0_SS1_USBA_DATA5_MGPIO8A_OUT ;
wire SPI0_SS2_USBA_DATA6_MGPIO9A_OUT ;
wire SPI0_SS3_USBA_DATA7_MGPIO10A_OUT ;
wire SPI0_SS4_MGPIO19A_OUT ;
wire SPI0_SS5_MGPIO20A_OUT ;
wire SPI0_SS6_MGPIO21A_OUT ;
wire SPI0_SS7_MGPIO22A_OUT ;
wire SPI1_SCK_OUT ;
wire SPI1_SDI_MGPIO11A_OUT ;
wire SPI1_SDO_MGPIO12A_OUT ;
wire SPI1_SS0_MGPIO13A_OUT ;
wire SPI1_SS1_MGPIO14A_OUT ;
wire SPI1_SS2_MGPIO15A_OUT ;
wire SPI1_SS3_MGPIO16A_OUT ;
wire SPI1_SS4_MGPIO17A_OUT ;
wire SPI1_SS5_MGPIO18A_OUT ;
wire SPI1_SS6_MGPIO23A_OUT ;
wire SPI1_SS7_MGPIO24A_OUT ;
wire USBC_XCLK_OUT ;
wire CAN_RXBUS_USBA_DATA1_MGPIO3A_OE ;
wire CAN_TX_EBL_USBA_DATA2_MGPIO4A_OE ;
wire CAN_TXBUS_USBA_DATA0_MGPIO2A_OE ;
wire I2C0_SCL_USBC_DATA1_MGPIO31B_OE ;
wire I2C0_SDA_USBC_DATA0_MGPIO30B_OE ;
wire I2C1_SCL_USBA_DATA4_MGPIO1A_OE ;
wire I2C1_SDA_USBA_DATA3_MGPIO0A_OE ;
wire MGPIO25A_OE ;
wire MGPIO26A_OE ;
wire MMUART0_CTS_USBC_DATA7_MGPIO19B_OE ;
wire MMUART0_DCD_MGPIO22B_OE ;
wire MMUART0_DSR_MGPIO20B_OE ;
wire MMUART0_DTR_USBC_DATA6_MGPIO18B_OE ;
wire MMUART0_RI_MGPIO21B_OE ;
wire MMUART0_RTS_USBC_DATA5_MGPIO17B_OE ;
wire MMUART0_RXD_USBC_STP_MGPIO28B_OE ;
wire MMUART0_SCK_USBC_NXT_MGPIO29B_OE ;
wire MMUART0_TXD_USBC_DIR_MGPIO27B_OE ;
wire MMUART1_CTS_MGPIO13B_OE ;
wire MMUART1_DCD_MGPIO16B_OE ;
wire MMUART1_DSR_MGPIO14B_OE ;
wire MMUART1_DTR_MGPIO12B_OE ;
wire MMUART1_RI_MGPIO15B_OE ;
wire MMUART1_RTS_MGPIO11B_OE ;
wire MMUART1_RXD_USBC_DATA3_MGPIO26B_OE ;
wire MMUART1_SCK_USBC_DATA4_MGPIO25B_OE ;
wire MMUART1_TXD_USBC_DATA2_MGPIO24B_OE ;
wire RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OE ;
wire RGMII_MDC_RMII_MDC_OE ;
wire RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE ;
wire RGMII_RX_CLK_OE ;
wire RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE ;
wire RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE ;
wire RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE ;
wire RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE ;
wire RGMII_RXD3_USBB_DATA4_OE ;
wire RGMII_TX_CLK_OE ;
wire RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OE ;
wire RGMII_TXD0_RMII_TXD0_USBB_DIR_OE ;
wire RGMII_TXD1_RMII_TXD1_USBB_STP_OE ;
wire RGMII_TXD2_USBB_DATA5_OE ;
wire RGMII_TXD3_USBB_DATA6_OE ;
wire SPI0_SDI_USBA_DIR_MGPIO5A_OE ;
wire SPI0_SS1_USBA_DATA5_MGPIO8A_OE ;
wire SPI0_SS2_USBA_DATA6_MGPIO9A_OE ;
wire SPI0_SS3_USBA_DATA7_MGPIO10A_OE ;
wire SPI0_SS4_MGPIO19A_OE ;
wire SPI0_SS5_MGPIO20A_OE ;
wire SPI0_SS6_MGPIO21A_OE ;
wire SPI0_SS7_MGPIO22A_OE ;
wire SPI1_SCK_OE ;
wire SPI1_SDI_MGPIO11A_OE ;
wire SPI1_SDO_MGPIO12A_OE ;
wire SPI1_SS0_MGPIO13A_OE ;
wire SPI1_SS1_MGPIO14A_OE ;
wire SPI1_SS2_MGPIO15A_OE ;
wire SPI1_SS3_MGPIO16A_OE ;
wire SPI1_SS4_MGPIO17A_OE ;
wire SPI1_SS5_MGPIO18A_OE ;
wire SPI1_SS6_MGPIO23A_OE ;
wire SPI1_SS7_MGPIO24A_OE ;
wire USBC_XCLK_OE ;
// @9:832
  BIBUF SPI_0_SS0_PAD (
	.Y(SPI_0_SS0_PAD_Y),
	.PAD(SPI_0_SS0),
	.D(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OUT),
	.E(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OE)
);
// @9:823
  TRIBUFF SPI_0_DO_PAD (
	.PAD(SPI_0_DO),
	.D(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OUT),
	.E(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OE)
);
// @9:815
  INBUF SPI_0_DI_PAD (
	.Y(SPI_0_DI_PAD_Y),
	.PAD(SPI_0_DI)
);
// @9:804
  BIBUF SPI_0_CLK_PAD (
	.Y(SPI_0_CLK_PAD_Y),
	.PAD(SPI_0_CLK),
	.D(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OUT),
	.E(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OE)
);
// @9:273
  MSS_025 MSS_ADLIB_INST (
	.CAN_RXBUS_MGPIO3A_H2F_A(CAN_RXBUS_MGPIO3A_H2F_A),
	.CAN_RXBUS_MGPIO3A_H2F_B(GPIO_3_M2F_c),
	.CAN_TX_EBL_MGPIO4A_H2F_A(CAN_TX_EBL_MGPIO4A_H2F_A),
	.CAN_TX_EBL_MGPIO4A_H2F_B(GPIO_4_M2F_c),
	.CAN_TXBUS_MGPIO2A_H2F_A(CAN_TXBUS_MGPIO2A_H2F_A),
	.CAN_TXBUS_MGPIO2A_H2F_B(GPIO_2_M2F_c),
	.CLK_CONFIG_APB(FIC_2_APB_M_PCLK),
	.COMMS_INT(COMMS_INT),
	.CONFIG_PRESET_N(FIC_2_APB_M_PRESET_N),
	.EDAC_ERROR(EDAC_ERROR[7:0]),
	.F_FM0_RDATA(F_FM0_RDATA[31:0]),
	.F_FM0_READYOUT(F_FM0_READYOUT),
	.F_FM0_RESP(F_FM0_RESP),
	.F_HM0_ADDR(F_HM0_ADDR[31:0]),
	.F_HM0_ENABLE(F_HM0_ENABLE),
	.F_HM0_SEL(F_HM0_SEL),
	.F_HM0_SIZE(F_HM0_SIZE[1:0]),
	.F_HM0_TRANS1(F_HM0_TRANS1),
	.F_HM0_WDATA(F_HM0_WDATA[31:0]),
	.F_HM0_WRITE(F_HM0_WRITE),
	.FAB_CHRGVBUS(FAB_CHRGVBUS),
	.FAB_DISCHRGVBUS(FAB_DISCHRGVBUS),
	.FAB_DMPULLDOWN(FAB_DMPULLDOWN),
	.FAB_DPPULLDOWN(FAB_DPPULLDOWN),
	.FAB_DRVVBUS(FAB_DRVVBUS),
	.FAB_IDPULLUP(FAB_IDPULLUP),
	.FAB_OPMODE(FAB_OPMODE[1:0]),
	.FAB_SUSPENDM(FAB_SUSPENDM),
	.FAB_TERMSEL(FAB_TERMSEL),
	.FAB_TXVALID(FAB_TXVALID),
	.FAB_VCONTROL(FAB_VCONTROL[3:0]),
	.FAB_VCONTROLLOADM(FAB_VCONTROLLOADM),
	.FAB_XCVRSEL(FAB_XCVRSEL[1:0]),
	.FAB_XDATAOUT(FAB_XDATAOUT[7:0]),
	.FACC_GLMUX_SEL(FACC_GLMUX_SEL),
	.FIC32_0_MASTER(FIC32_0_MASTER[1:0]),
	.FIC32_1_MASTER(FIC32_1_MASTER[1:0]),
	.FPGA_RESET_N(MSS_RESET_N_M2F),
	.GTX_CLK(GTX_CLK),
	.H2F_INTERRUPT(H2F_INTERRUPT[15:0]),
	.H2F_NMI(H2F_NMI),
	.H2FCALIB(H2FCALIB),
	.I2C0_SCL_MGPIO31B_H2F_A(demo_sb_sb_0_I2C_0_SCL_M2F),
	.I2C0_SCL_MGPIO31B_H2F_B(demo_sb_sb_0_I2C_0_SCL_M2F_OE),
	.I2C0_SDA_MGPIO30B_H2F_A(demo_sb_sb_0_I2C_0_SDA_M2F),
	.I2C0_SDA_MGPIO30B_H2F_B(demo_sb_sb_0_I2C_0_SDA_M2F_OE),
	.I2C1_SCL_MGPIO1A_H2F_A(I2C1_SCL_MGPIO1A_H2F_A),
	.I2C1_SCL_MGPIO1A_H2F_B(I2C1_SCL_MGPIO1A_H2F_B),
	.I2C1_SDA_MGPIO0A_H2F_A(I2C1_SDA_MGPIO0A_H2F_A),
	.I2C1_SDA_MGPIO0A_H2F_B(I2C1_SDA_MGPIO0A_H2F_B),
	.MDCF(MDCF),
	.MDOENF(MDOENF),
	.MDOF(MDOF),
	.MMUART0_CTS_MGPIO19B_H2F_A(MMUART0_CTS_MGPIO19B_H2F_A),
	.MMUART0_CTS_MGPIO19B_H2F_B(MMUART0_CTS_MGPIO19B_H2F_B),
	.MMUART0_DCD_MGPIO22B_H2F_A(MMUART0_DCD_MGPIO22B_H2F_A),
	.MMUART0_DCD_MGPIO22B_H2F_B(MMUART0_DCD_MGPIO22B_H2F_B),
	.MMUART0_DSR_MGPIO20B_H2F_A(MMUART0_DSR_MGPIO20B_H2F_A),
	.MMUART0_DSR_MGPIO20B_H2F_B(MMUART0_DSR_MGPIO20B_H2F_B),
	.MMUART0_DTR_MGPIO18B_H2F_A(MMUART0_DTR_MGPIO18B_H2F_A),
	.MMUART0_DTR_MGPIO18B_H2F_B(MMUART0_DTR_MGPIO18B_H2F_B),
	.MMUART0_RI_MGPIO21B_H2F_A(MMUART0_RI_MGPIO21B_H2F_A),
	.MMUART0_RI_MGPIO21B_H2F_B(MMUART0_RI_MGPIO21B_H2F_B),
	.MMUART0_RTS_MGPIO17B_H2F_A(MMUART0_RTS_MGPIO17B_H2F_A),
	.MMUART0_RTS_MGPIO17B_H2F_B(MMUART0_RTS_MGPIO17B_H2F_B),
	.MMUART0_RXD_MGPIO28B_H2F_A(MMUART0_RXD_MGPIO28B_H2F_A),
	.MMUART0_RXD_MGPIO28B_H2F_B(MMUART0_RXD_MGPIO28B_H2F_B),
	.MMUART0_SCK_MGPIO29B_H2F_A(MMUART0_SCK_MGPIO29B_H2F_A),
	.MMUART0_SCK_MGPIO29B_H2F_B(MMUART0_SCK_MGPIO29B_H2F_B),
	.MMUART0_TXD_MGPIO27B_H2F_A(MMUART_0_TXD_M2F_c),
	.MMUART0_TXD_MGPIO27B_H2F_B(MMUART0_TXD_MGPIO27B_H2F_B),
	.MMUART1_DTR_MGPIO12B_H2F_A(MMUART1_DTR_MGPIO12B_H2F_A),
	.MMUART1_RTS_MGPIO11B_H2F_A(MMUART1_RTS_MGPIO11B_H2F_A),
	.MMUART1_RTS_MGPIO11B_H2F_B(MMUART1_RTS_MGPIO11B_H2F_B),
	.MMUART1_RXD_MGPIO26B_H2F_A(MMUART1_RXD_MGPIO26B_H2F_A),
	.MMUART1_RXD_MGPIO26B_H2F_B(MMUART1_RXD_MGPIO26B_H2F_B),
	.MMUART1_SCK_MGPIO25B_H2F_A(MMUART1_SCK_MGPIO25B_H2F_A),
	.MMUART1_SCK_MGPIO25B_H2F_B(MMUART1_SCK_MGPIO25B_H2F_B),
	.MMUART1_TXD_MGPIO24B_H2F_A(MMUART1_TXD_MGPIO24B_H2F_A),
	.MMUART1_TXD_MGPIO24B_H2F_B(MMUART1_TXD_MGPIO24B_H2F_B),
	.MPLL_LOCK(MPLL_LOCK),
	.PER2_FABRIC_PADDR(FIC_2_APB_M_PADDR[15:2]),
	.PER2_FABRIC_PENABLE(FIC_2_APB_M_PENABLE),
	.PER2_FABRIC_PSEL(FIC_2_APB_M_PSEL),
	.PER2_FABRIC_PWDATA(FIC_2_APB_M_PWDATA[31:0]),
	.PER2_FABRIC_PWRITE(FIC_2_APB_M_PWRITE),
	.RTC_MATCH(RTC_MATCH),
	.SLEEPDEEP(SLEEPDEEP),
	.SLEEPHOLDACK(SLEEPHOLDACK),
	.SLEEPING(SLEEPING),
	.SMBALERT_NO0(SMBALERT_NO0),
	.SMBALERT_NO1(SMBALERT_NO1),
	.SMBSUS_NO0(SMBSUS_NO0),
	.SMBSUS_NO1(SMBSUS_NO1),
	.SPI0_CLK_OUT(SPI0_CLK_OUT),
	.SPI0_SDI_MGPIO5A_H2F_A(SPI0_SDI_MGPIO5A_H2F_A),
	.SPI0_SDI_MGPIO5A_H2F_B(SPI0_SDI_MGPIO5A_H2F_B),
	.SPI0_SDO_MGPIO6A_H2F_A(SPI0_SDO_MGPIO6A_H2F_A),
	.SPI0_SDO_MGPIO6A_H2F_B(SPI0_SDO_MGPIO6A_H2F_B),
	.SPI0_SS0_MGPIO7A_H2F_A(SPI0_SS0_MGPIO7A_H2F_A),
	.SPI0_SS0_MGPIO7A_H2F_B(SPI0_SS0_MGPIO7A_H2F_B),
	.SPI0_SS1_MGPIO8A_H2F_A(SPI0_SS1_MGPIO8A_H2F_A),
	.SPI0_SS1_MGPIO8A_H2F_B(GPIO_8_M2F_c),
	.SPI0_SS2_MGPIO9A_H2F_A(SPI0_SS2_MGPIO9A_H2F_A),
	.SPI0_SS2_MGPIO9A_H2F_B(SPI0_SS2_MGPIO9A_H2F_B),
	.SPI0_SS3_MGPIO10A_H2F_A(SPI0_SS3_MGPIO10A_H2F_A),
	.SPI0_SS3_MGPIO10A_H2F_B(SPI0_SS3_MGPIO10A_H2F_B),
	.SPI0_SS4_MGPIO19A_H2F_A(SPI0_SS4_MGPIO19A_H2F_A),
	.SPI0_SS5_MGPIO20A_H2F_A(SPI0_SS5_MGPIO20A_H2F_A),
	.SPI0_SS6_MGPIO21A_H2F_A(SPI0_SS6_MGPIO21A_H2F_A),
	.SPI0_SS7_MGPIO22A_H2F_A(SPI0_SS7_MGPIO22A_H2F_A),
	.SPI1_CLK_OUT(SPI1_CLK_OUT),
	.SPI1_SDI_MGPIO11A_H2F_A(SPI1_SDI_MGPIO11A_H2F_A),
	.SPI1_SDI_MGPIO11A_H2F_B(SPI1_SDI_MGPIO11A_H2F_B),
	.SPI1_SDO_MGPIO12A_H2F_A(SPI1_SDO_MGPIO12A_H2F_A),
	.SPI1_SDO_MGPIO12A_H2F_B(SPI1_SDO_MGPIO12A_H2F_B),
	.SPI1_SS0_MGPIO13A_H2F_A(SPI1_SS0_MGPIO13A_H2F_A),
	.SPI1_SS0_MGPIO13A_H2F_B(SPI1_SS0_MGPIO13A_H2F_B),
	.SPI1_SS1_MGPIO14A_H2F_A(SPI1_SS1_MGPIO14A_H2F_A),
	.SPI1_SS1_MGPIO14A_H2F_B(SPI1_SS1_MGPIO14A_H2F_B),
	.SPI1_SS2_MGPIO15A_H2F_A(SPI1_SS2_MGPIO15A_H2F_A),
	.SPI1_SS2_MGPIO15A_H2F_B(SPI1_SS2_MGPIO15A_H2F_B),
	.SPI1_SS3_MGPIO16A_H2F_A(SPI1_SS3_MGPIO16A_H2F_A),
	.SPI1_SS3_MGPIO16A_H2F_B(SPI1_SS3_MGPIO16A_H2F_B),
	.SPI1_SS4_MGPIO17A_H2F_A(SPI1_SS4_MGPIO17A_H2F_A),
	.SPI1_SS5_MGPIO18A_H2F_A(SPI1_SS5_MGPIO18A_H2F_A),
	.SPI1_SS6_MGPIO23A_H2F_A(SPI1_SS6_MGPIO23A_H2F_A),
	.SPI1_SS7_MGPIO24A_H2F_A(SPI1_SS7_MGPIO24A_H2F_A),
	.TCGF(TCGF[9:0]),
	.TRACECLK(TRACECLK),
	.TRACEDATA(TRACEDATA[3:0]),
	.TX_CLK(TX_CLK),
	.TX_ENF(TX_ENF),
	.TX_ERRF(TX_ERRF),
	.TXCTL_EN_RIF(TXCTL_EN_RIF),
	.TXD_RIF(TXD_RIF[3:0]),
	.TXDF(TXDF[7:0]),
	.TXEV(TXEV),
	.WDOGTIMEOUT(WDOGTIMEOUT),
	.F_ARREADY_HREADYOUT1(F_ARREADY_HREADYOUT1),
	.F_AWREADY_HREADYOUT0(F_AWREADY_HREADYOUT0),
	.F_BID(F_BID[3:0]),
	.F_BRESP_HRESP0(F_BRESP_HRESP0[1:0]),
	.F_BVALID(F_BVALID),
	.F_RDATA_HRDATA01(F_RDATA_HRDATA01[63:0]),
	.F_RID(F_RID[3:0]),
	.F_RLAST(F_RLAST),
	.F_RRESP_HRESP1(F_RRESP_HRESP1[1:0]),
	.F_RVALID(F_RVALID),
	.F_WREADY(F_WREADY),
	.MDDR_FABRIC_PRDATA(MDDR_FABRIC_PRDATA[15:0]),
	.MDDR_FABRIC_PREADY(MDDR_FABRIC_PREADY),
	.MDDR_FABRIC_PSLVERR(MDDR_FABRIC_PSLVERR),
	.CAN_RXBUS_F2H_SCP(VCC),
	.CAN_TX_EBL_F2H_SCP(VCC),
	.CAN_TXBUS_F2H_SCP(VCC),
	.COLF(VCC),
	.CRSF(VCC),
	.F2_DMAREADY({VCC, VCC}),
	.F2H_INTERRUPT({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F2HCALIB(VCC),
	.F_DMAREADY({VCC, VCC}),
	.F_FM0_ADDR({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_FM0_ENABLE(GND),
	.F_FM0_MASTLOCK(GND),
	.F_FM0_READY(VCC),
	.F_FM0_SEL(GND),
	.F_FM0_SIZE({GND, GND}),
	.F_FM0_TRANS1(GND),
	.F_FM0_WDATA({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_FM0_WRITE(GND),
	.F_HM0_RDATA({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_HM0_READY(VCC),
	.F_HM0_RESP(GND),
	.FAB_AVALID(VCC),
	.FAB_HOSTDISCON(VCC),
	.FAB_IDDIG(VCC),
	.FAB_LINESTATE({VCC, VCC}),
	.FAB_M3_RESET_N(VCC),
	.FAB_PLL_LOCK(LOCK),
	.FAB_RXACTIVE(VCC),
	.FAB_RXERROR(VCC),
	.FAB_RXVALID(VCC),
	.FAB_RXVALIDH(GND),
	.FAB_SESSEND(VCC),
	.FAB_TXREADY(VCC),
	.FAB_VBUSVALID(VCC),
	.FAB_VSTATUS({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.FAB_XDATAIN({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.GTX_CLKPF(VCC),
	.I2C0_BCLK(VCC),
	.I2C0_SCL_F2H_SCP(BIBUF_1_Y),
	.I2C0_SDA_F2H_SCP(BIBUF_0_Y),
	.I2C1_BCLK(VCC),
	.I2C1_SCL_F2H_SCP(VCC),
	.I2C1_SDA_F2H_SCP(VCC),
	.MDIF(VCC),
	.MGPIO0A_F2H_GPIN(VCC),
	.MGPIO10A_F2H_GPIN(VCC),
	.MGPIO11A_F2H_GPIN(VCC),
	.MGPIO11B_F2H_GPIN(VCC),
	.MGPIO12A_F2H_GPIN(VCC),
	.MGPIO13A_F2H_GPIN(VCC),
	.MGPIO14A_F2H_GPIN(VCC),
	.MGPIO15A_F2H_GPIN(VCC),
	.MGPIO16A_F2H_GPIN(VCC),
	.MGPIO17B_F2H_GPIN(VCC),
	.MGPIO18B_F2H_GPIN(VCC),
	.MGPIO19B_F2H_GPIN(VCC),
	.MGPIO1A_F2H_GPIN(VCC),
	.MGPIO20B_F2H_GPIN(VCC),
	.MGPIO21B_F2H_GPIN(VCC),
	.MGPIO22B_F2H_GPIN(VCC),
	.MGPIO24B_F2H_GPIN(VCC),
	.MGPIO25B_F2H_GPIN(VCC),
	.MGPIO26B_F2H_GPIN(VCC),
	.MGPIO27B_F2H_GPIN(VCC),
	.MGPIO28B_F2H_GPIN(VCC),
	.MGPIO29B_F2H_GPIN(VCC),
	.MGPIO2A_F2H_GPIN(VCC),
	.MGPIO30B_F2H_GPIN(VCC),
	.MGPIO31B_F2H_GPIN(VCC),
	.MGPIO3A_F2H_GPIN(VCC),
	.MGPIO4A_F2H_GPIN(VCC),
	.MGPIO5A_F2H_GPIN(VCC),
	.MGPIO6A_F2H_GPIN(VCC),
	.MGPIO7A_F2H_GPIN(VCC),
	.MGPIO8A_F2H_GPIN(VCC),
	.MGPIO9A_F2H_GPIN(GPIO_9_F2M_c),
	.MMUART0_CTS_F2H_SCP(VCC),
	.MMUART0_DCD_F2H_SCP(VCC),
	.MMUART0_DSR_F2H_SCP(VCC),
	.MMUART0_DTR_F2H_SCP(VCC),
	.MMUART0_RI_F2H_SCP(VCC),
	.MMUART0_RTS_F2H_SCP(VCC),
	.MMUART0_RXD_F2H_SCP(MMUART_0_RXD_F2M_c),
	.MMUART0_SCK_F2H_SCP(VCC),
	.MMUART0_TXD_F2H_SCP(VCC),
	.MMUART1_CTS_F2H_SCP(VCC),
	.MMUART1_DCD_F2H_SCP(VCC),
	.MMUART1_DSR_F2H_SCP(VCC),
	.MMUART1_RI_F2H_SCP(VCC),
	.MMUART1_RTS_F2H_SCP(VCC),
	.MMUART1_RXD_F2H_SCP(VCC),
	.MMUART1_SCK_F2H_SCP(VCC),
	.MMUART1_TXD_F2H_SCP(VCC),
	.PER2_FABRIC_PRDATA({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.PER2_FABRIC_PREADY(VCC),
	.PER2_FABRIC_PSLVERR(GND),
	.RCGF({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.RX_CLKPF(VCC),
	.RX_DVF(VCC),
	.RX_ERRF(VCC),
	.RX_EV(VCC),
	.RXDF({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.SLEEPHOLDREQ(GND),
	.SMBALERT_NI0(VCC),
	.SMBALERT_NI1(VCC),
	.SMBSUS_NI0(VCC),
	.SMBSUS_NI1(VCC),
	.SPI0_CLK_IN(VCC),
	.SPI0_SDI_F2H_SCP(VCC),
	.SPI0_SDO_F2H_SCP(VCC),
	.SPI0_SS0_F2H_SCP(VCC),
	.SPI0_SS1_F2H_SCP(VCC),
	.SPI0_SS2_F2H_SCP(VCC),
	.SPI0_SS3_F2H_SCP(VCC),
	.SPI1_CLK_IN(VCC),
	.SPI1_SDI_F2H_SCP(VCC),
	.SPI1_SDO_F2H_SCP(VCC),
	.SPI1_SS0_F2H_SCP(VCC),
	.SPI1_SS1_F2H_SCP(VCC),
	.SPI1_SS2_F2H_SCP(VCC),
	.SPI1_SS3_F2H_SCP(VCC),
	.TX_CLKPF(VCC),
	.USER_MSS_GPIO_RESET_N(VCC),
	.USER_MSS_RESET_N(CORERESETP_0_RESET_N_F2M),
	.XCLK_FAB(VCC),
	.CLK_BASE(GL0_INST),
	.CLK_MDDR_APB(VCC),
	.F_ARADDR_HADDR1({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.F_ARBURST_HTRANS1({GND, GND}),
	.F_ARID_HSEL1({GND, GND, GND, GND}),
	.F_ARLEN_HBURST1({GND, GND, GND, GND}),
	.F_ARLOCK_HMASTLOCK1({GND, GND}),
	.F_ARSIZE_HSIZE1({GND, GND}),
	.F_ARVALID_HWRITE1(GND),
	.F_AWADDR_HADDR0({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.F_AWBURST_HTRANS0({GND, GND}),
	.F_AWID_HSEL0({GND, GND, GND, GND}),
	.F_AWLEN_HBURST0({GND, GND, GND, GND}),
	.F_AWLOCK_HMASTLOCK0({GND, GND}),
	.F_AWSIZE_HSIZE0({GND, GND}),
	.F_AWVALID_HWRITE0(GND),
	.F_BREADY(GND),
	.F_RMW_AXI(GND),
	.F_RREADY(GND),
	.F_WDATA_HWDATA01({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.F_WID_HREADY01({GND, GND, GND, GND}),
	.F_WLAST(GND),
	.F_WSTRB({GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_WVALID(GND),
	.FPGA_MDDR_ARESET_N(VCC),
	.MDDR_FABRIC_PADDR({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.MDDR_FABRIC_PENABLE(VCC),
	.MDDR_FABRIC_PSEL(VCC),
	.MDDR_FABRIC_PWDATA({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.MDDR_FABRIC_PWRITE(VCC),
	.PRESET_N(GND),
	.CAN_RXBUS_USBA_DATA1_MGPIO3A_IN(GND),
	.CAN_TX_EBL_USBA_DATA2_MGPIO4A_IN(GND),
	.CAN_TXBUS_USBA_DATA0_MGPIO2A_IN(GND),
	.DM_IN({GND, GND, GND}),
	.DRAM_DQ_IN({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.DRAM_DQS_IN({GND, GND, GND}),
	.DRAM_FIFO_WE_IN({GND, GND}),
	.I2C0_SCL_USBC_DATA1_MGPIO31B_IN(GND),
	.I2C0_SDA_USBC_DATA0_MGPIO30B_IN(GND),
	.I2C1_SCL_USBA_DATA4_MGPIO1A_IN(GND),
	.I2C1_SDA_USBA_DATA3_MGPIO0A_IN(GND),
	.MGPIO25A_IN(GND),
	.MGPIO26A_IN(GND),
	.MMUART0_CTS_USBC_DATA7_MGPIO19B_IN(GND),
	.MMUART0_DCD_MGPIO22B_IN(GND),
	.MMUART0_DSR_MGPIO20B_IN(GND),
	.MMUART0_DTR_USBC_DATA6_MGPIO18B_IN(GND),
	.MMUART0_RI_MGPIO21B_IN(GND),
	.MMUART0_RTS_USBC_DATA5_MGPIO17B_IN(GND),
	.MMUART0_RXD_USBC_STP_MGPIO28B_IN(GND),
	.MMUART0_SCK_USBC_NXT_MGPIO29B_IN(GND),
	.MMUART0_TXD_USBC_DIR_MGPIO27B_IN(GND),
	.MMUART1_CTS_MGPIO13B_IN(GND),
	.MMUART1_DCD_MGPIO16B_IN(GND),
	.MMUART1_DSR_MGPIO14B_IN(GND),
	.MMUART1_DTR_MGPIO12B_IN(GND),
	.MMUART1_RI_MGPIO15B_IN(GND),
	.MMUART1_RTS_MGPIO11B_IN(GND),
	.MMUART1_RXD_USBC_DATA3_MGPIO26B_IN(GND),
	.MMUART1_SCK_USBC_DATA4_MGPIO25B_IN(GND),
	.MMUART1_TXD_USBC_DATA2_MGPIO24B_IN(GND),
	.RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_IN(GND),
	.RGMII_MDC_RMII_MDC_IN(GND),
	.RGMII_MDIO_RMII_MDIO_USBB_DATA7_IN(GND),
	.RGMII_RX_CLK_IN(GND),
	.RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_IN(GND),
	.RGMII_RXD0_RMII_RXD0_USBB_DATA0_IN(GND),
	.RGMII_RXD1_RMII_RXD1_USBB_DATA1_IN(GND),
	.RGMII_RXD2_RMII_RX_ER_USBB_DATA3_IN(GND),
	.RGMII_RXD3_USBB_DATA4_IN(GND),
	.RGMII_TX_CLK_IN(GND),
	.RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_IN(GND),
	.RGMII_TXD0_RMII_TXD0_USBB_DIR_IN(GND),
	.RGMII_TXD1_RMII_TXD1_USBB_STP_IN(GND),
	.RGMII_TXD2_USBB_DATA5_IN(GND),
	.RGMII_TXD3_USBB_DATA6_IN(GND),
	.SPI0_SCK_USBA_XCLK_IN(SPI_0_CLK_PAD_Y),
	.SPI0_SDI_USBA_DIR_MGPIO5A_IN(SPI_0_DI_PAD_Y),
	.SPI0_SDO_USBA_STP_MGPIO6A_IN(GND),
	.SPI0_SS0_USBA_NXT_MGPIO7A_IN(SPI_0_SS0_PAD_Y),
	.SPI0_SS1_USBA_DATA5_MGPIO8A_IN(GND),
	.SPI0_SS2_USBA_DATA6_MGPIO9A_IN(GND),
	.SPI0_SS3_USBA_DATA7_MGPIO10A_IN(GND),
	.SPI0_SS4_MGPIO19A_IN(GND),
	.SPI0_SS5_MGPIO20A_IN(GND),
	.SPI0_SS6_MGPIO21A_IN(GND),
	.SPI0_SS7_MGPIO22A_IN(GND),
	.SPI1_SCK_IN(GND),
	.SPI1_SDI_MGPIO11A_IN(GND),
	.SPI1_SDO_MGPIO12A_IN(GND),
	.SPI1_SS0_MGPIO13A_IN(GND),
	.SPI1_SS1_MGPIO14A_IN(GND),
	.SPI1_SS2_MGPIO15A_IN(GND),
	.SPI1_SS3_MGPIO16A_IN(GND),
	.SPI1_SS4_MGPIO17A_IN(GND),
	.SPI1_SS5_MGPIO18A_IN(GND),
	.SPI1_SS6_MGPIO23A_IN(GND),
	.SPI1_SS7_MGPIO24A_IN(GND),
	.USBC_XCLK_IN(GND),
	.CAN_RXBUS_USBA_DATA1_MGPIO3A_OUT(CAN_RXBUS_USBA_DATA1_MGPIO3A_OUT),
	.CAN_TX_EBL_USBA_DATA2_MGPIO4A_OUT(CAN_TX_EBL_USBA_DATA2_MGPIO4A_OUT),
	.CAN_TXBUS_USBA_DATA0_MGPIO2A_OUT(CAN_TXBUS_USBA_DATA0_MGPIO2A_OUT),
	.DRAM_ADDR(DRAM_ADDR[15:0]),
	.DRAM_BA(DRAM_BA[2:0]),
	.DRAM_CASN(DRAM_CASN),
	.DRAM_CKE(DRAM_CKE),
	.DRAM_CLK(DRAM_CLK),
	.DRAM_CSN(DRAM_CSN),
	.DRAM_DM_RDQS_OUT(DRAM_DM_RDQS_OUT[2:0]),
	.DRAM_DQ_OUT(DRAM_DQ_OUT[17:0]),
	.DRAM_DQS_OUT(DRAM_DQS_OUT[2:0]),
	.DRAM_FIFO_WE_OUT(DRAM_FIFO_WE_OUT[1:0]),
	.DRAM_ODT(DRAM_ODT),
	.DRAM_RASN(DRAM_RASN),
	.DRAM_RSTN(DRAM_RSTN),
	.DRAM_WEN(DRAM_WEN),
	.I2C0_SCL_USBC_DATA1_MGPIO31B_OUT(I2C0_SCL_USBC_DATA1_MGPIO31B_OUT),
	.I2C0_SDA_USBC_DATA0_MGPIO30B_OUT(I2C0_SDA_USBC_DATA0_MGPIO30B_OUT),
	.I2C1_SCL_USBA_DATA4_MGPIO1A_OUT(I2C1_SCL_USBA_DATA4_MGPIO1A_OUT),
	.I2C1_SDA_USBA_DATA3_MGPIO0A_OUT(I2C1_SDA_USBA_DATA3_MGPIO0A_OUT),
	.MGPIO25A_OUT(MGPIO25A_OUT),
	.MGPIO26A_OUT(MGPIO26A_OUT),
	.MMUART0_CTS_USBC_DATA7_MGPIO19B_OUT(MMUART0_CTS_USBC_DATA7_MGPIO19B_OUT),
	.MMUART0_DCD_MGPIO22B_OUT(MMUART0_DCD_MGPIO22B_OUT),
	.MMUART0_DSR_MGPIO20B_OUT(MMUART0_DSR_MGPIO20B_OUT),
	.MMUART0_DTR_USBC_DATA6_MGPIO18B_OUT(MMUART0_DTR_USBC_DATA6_MGPIO18B_OUT),
	.MMUART0_RI_MGPIO21B_OUT(MMUART0_RI_MGPIO21B_OUT),
	.MMUART0_RTS_USBC_DATA5_MGPIO17B_OUT(MMUART0_RTS_USBC_DATA5_MGPIO17B_OUT),
	.MMUART0_RXD_USBC_STP_MGPIO28B_OUT(MMUART0_RXD_USBC_STP_MGPIO28B_OUT),
	.MMUART0_SCK_USBC_NXT_MGPIO29B_OUT(MMUART0_SCK_USBC_NXT_MGPIO29B_OUT),
	.MMUART0_TXD_USBC_DIR_MGPIO27B_OUT(MMUART0_TXD_USBC_DIR_MGPIO27B_OUT),
	.MMUART1_CTS_MGPIO13B_OUT(MMUART1_CTS_MGPIO13B_OUT),
	.MMUART1_DCD_MGPIO16B_OUT(MMUART1_DCD_MGPIO16B_OUT),
	.MMUART1_DSR_MGPIO14B_OUT(MMUART1_DSR_MGPIO14B_OUT),
	.MMUART1_DTR_MGPIO12B_OUT(MMUART1_DTR_MGPIO12B_OUT),
	.MMUART1_RI_MGPIO15B_OUT(MMUART1_RI_MGPIO15B_OUT),
	.MMUART1_RTS_MGPIO11B_OUT(MMUART1_RTS_MGPIO11B_OUT),
	.MMUART1_RXD_USBC_DATA3_MGPIO26B_OUT(MMUART1_RXD_USBC_DATA3_MGPIO26B_OUT),
	.MMUART1_SCK_USBC_DATA4_MGPIO25B_OUT(MMUART1_SCK_USBC_DATA4_MGPIO25B_OUT),
	.MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT(MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT),
	.RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OUT(RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OUT),
	.RGMII_MDC_RMII_MDC_OUT(RGMII_MDC_RMII_MDC_OUT),
	.RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT(RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT),
	.RGMII_RX_CLK_OUT(RGMII_RX_CLK_OUT),
	.RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT(RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT),
	.RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT(RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT),
	.RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT(RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT),
	.RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT(RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT),
	.RGMII_RXD3_USBB_DATA4_OUT(RGMII_RXD3_USBB_DATA4_OUT),
	.RGMII_TX_CLK_OUT(RGMII_TX_CLK_OUT),
	.RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OUT(RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OUT),
	.RGMII_TXD0_RMII_TXD0_USBB_DIR_OUT(RGMII_TXD0_RMII_TXD0_USBB_DIR_OUT),
	.RGMII_TXD1_RMII_TXD1_USBB_STP_OUT(RGMII_TXD1_RMII_TXD1_USBB_STP_OUT),
	.RGMII_TXD2_USBB_DATA5_OUT(RGMII_TXD2_USBB_DATA5_OUT),
	.RGMII_TXD3_USBB_DATA6_OUT(RGMII_TXD3_USBB_DATA6_OUT),
	.SPI0_SCK_USBA_XCLK_OUT(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OUT),
	.SPI0_SDI_USBA_DIR_MGPIO5A_OUT(SPI0_SDI_USBA_DIR_MGPIO5A_OUT),
	.SPI0_SDO_USBA_STP_MGPIO6A_OUT(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OUT),
	.SPI0_SS0_USBA_NXT_MGPIO7A_OUT(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OUT),
	.SPI0_SS1_USBA_DATA5_MGPIO8A_OUT(SPI0_SS1_USBA_DATA5_MGPIO8A_OUT),
	.SPI0_SS2_USBA_DATA6_MGPIO9A_OUT(SPI0_SS2_USBA_DATA6_MGPIO9A_OUT),
	.SPI0_SS3_USBA_DATA7_MGPIO10A_OUT(SPI0_SS3_USBA_DATA7_MGPIO10A_OUT),
	.SPI0_SS4_MGPIO19A_OUT(SPI0_SS4_MGPIO19A_OUT),
	.SPI0_SS5_MGPIO20A_OUT(SPI0_SS5_MGPIO20A_OUT),
	.SPI0_SS6_MGPIO21A_OUT(SPI0_SS6_MGPIO21A_OUT),
	.SPI0_SS7_MGPIO22A_OUT(SPI0_SS7_MGPIO22A_OUT),
	.SPI1_SCK_OUT(SPI1_SCK_OUT),
	.SPI1_SDI_MGPIO11A_OUT(SPI1_SDI_MGPIO11A_OUT),
	.SPI1_SDO_MGPIO12A_OUT(SPI1_SDO_MGPIO12A_OUT),
	.SPI1_SS0_MGPIO13A_OUT(SPI1_SS0_MGPIO13A_OUT),
	.SPI1_SS1_MGPIO14A_OUT(SPI1_SS1_MGPIO14A_OUT),
	.SPI1_SS2_MGPIO15A_OUT(SPI1_SS2_MGPIO15A_OUT),
	.SPI1_SS3_MGPIO16A_OUT(SPI1_SS3_MGPIO16A_OUT),
	.SPI1_SS4_MGPIO17A_OUT(SPI1_SS4_MGPIO17A_OUT),
	.SPI1_SS5_MGPIO18A_OUT(SPI1_SS5_MGPIO18A_OUT),
	.SPI1_SS6_MGPIO23A_OUT(SPI1_SS6_MGPIO23A_OUT),
	.SPI1_SS7_MGPIO24A_OUT(SPI1_SS7_MGPIO24A_OUT),
	.USBC_XCLK_OUT(USBC_XCLK_OUT),
	.CAN_RXBUS_USBA_DATA1_MGPIO3A_OE(CAN_RXBUS_USBA_DATA1_MGPIO3A_OE),
	.CAN_TX_EBL_USBA_DATA2_MGPIO4A_OE(CAN_TX_EBL_USBA_DATA2_MGPIO4A_OE),
	.CAN_TXBUS_USBA_DATA0_MGPIO2A_OE(CAN_TXBUS_USBA_DATA0_MGPIO2A_OE),
	.DM_OE(DM_OE[2:0]),
	.DRAM_DQ_OE(DRAM_DQ_OE[17:0]),
	.DRAM_DQS_OE(DRAM_DQS_OE[2:0]),
	.I2C0_SCL_USBC_DATA1_MGPIO31B_OE(I2C0_SCL_USBC_DATA1_MGPIO31B_OE),
	.I2C0_SDA_USBC_DATA0_MGPIO30B_OE(I2C0_SDA_USBC_DATA0_MGPIO30B_OE),
	.I2C1_SCL_USBA_DATA4_MGPIO1A_OE(I2C1_SCL_USBA_DATA4_MGPIO1A_OE),
	.I2C1_SDA_USBA_DATA3_MGPIO0A_OE(I2C1_SDA_USBA_DATA3_MGPIO0A_OE),
	.MGPIO25A_OE(MGPIO25A_OE),
	.MGPIO26A_OE(MGPIO26A_OE),
	.MMUART0_CTS_USBC_DATA7_MGPIO19B_OE(MMUART0_CTS_USBC_DATA7_MGPIO19B_OE),
	.MMUART0_DCD_MGPIO22B_OE(MMUART0_DCD_MGPIO22B_OE),
	.MMUART0_DSR_MGPIO20B_OE(MMUART0_DSR_MGPIO20B_OE),
	.MMUART0_DTR_USBC_DATA6_MGPIO18B_OE(MMUART0_DTR_USBC_DATA6_MGPIO18B_OE),
	.MMUART0_RI_MGPIO21B_OE(MMUART0_RI_MGPIO21B_OE),
	.MMUART0_RTS_USBC_DATA5_MGPIO17B_OE(MMUART0_RTS_USBC_DATA5_MGPIO17B_OE),
	.MMUART0_RXD_USBC_STP_MGPIO28B_OE(MMUART0_RXD_USBC_STP_MGPIO28B_OE),
	.MMUART0_SCK_USBC_NXT_MGPIO29B_OE(MMUART0_SCK_USBC_NXT_MGPIO29B_OE),
	.MMUART0_TXD_USBC_DIR_MGPIO27B_OE(MMUART0_TXD_USBC_DIR_MGPIO27B_OE),
	.MMUART1_CTS_MGPIO13B_OE(MMUART1_CTS_MGPIO13B_OE),
	.MMUART1_DCD_MGPIO16B_OE(MMUART1_DCD_MGPIO16B_OE),
	.MMUART1_DSR_MGPIO14B_OE(MMUART1_DSR_MGPIO14B_OE),
	.MMUART1_DTR_MGPIO12B_OE(MMUART1_DTR_MGPIO12B_OE),
	.MMUART1_RI_MGPIO15B_OE(MMUART1_RI_MGPIO15B_OE),
	.MMUART1_RTS_MGPIO11B_OE(MMUART1_RTS_MGPIO11B_OE),
	.MMUART1_RXD_USBC_DATA3_MGPIO26B_OE(MMUART1_RXD_USBC_DATA3_MGPIO26B_OE),
	.MMUART1_SCK_USBC_DATA4_MGPIO25B_OE(MMUART1_SCK_USBC_DATA4_MGPIO25B_OE),
	.MMUART1_TXD_USBC_DATA2_MGPIO24B_OE(MMUART1_TXD_USBC_DATA2_MGPIO24B_OE),
	.RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OE(RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OE),
	.RGMII_MDC_RMII_MDC_OE(RGMII_MDC_RMII_MDC_OE),
	.RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE(RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE),
	.RGMII_RX_CLK_OE(RGMII_RX_CLK_OE),
	.RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE(RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE),
	.RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE(RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE),
	.RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE(RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE),
	.RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE(RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE),
	.RGMII_RXD3_USBB_DATA4_OE(RGMII_RXD3_USBB_DATA4_OE),
	.RGMII_TX_CLK_OE(RGMII_TX_CLK_OE),
	.RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OE(RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OE),
	.RGMII_TXD0_RMII_TXD0_USBB_DIR_OE(RGMII_TXD0_RMII_TXD0_USBB_DIR_OE),
	.RGMII_TXD1_RMII_TXD1_USBB_STP_OE(RGMII_TXD1_RMII_TXD1_USBB_STP_OE),
	.RGMII_TXD2_USBB_DATA5_OE(RGMII_TXD2_USBB_DATA5_OE),
	.RGMII_TXD3_USBB_DATA6_OE(RGMII_TXD3_USBB_DATA6_OE),
	.SPI0_SCK_USBA_XCLK_OE(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OE),
	.SPI0_SDI_USBA_DIR_MGPIO5A_OE(SPI0_SDI_USBA_DIR_MGPIO5A_OE),
	.SPI0_SDO_USBA_STP_MGPIO6A_OE(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OE),
	.SPI0_SS0_USBA_NXT_MGPIO7A_OE(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OE),
	.SPI0_SS1_USBA_DATA5_MGPIO8A_OE(SPI0_SS1_USBA_DATA5_MGPIO8A_OE),
	.SPI0_SS2_USBA_DATA6_MGPIO9A_OE(SPI0_SS2_USBA_DATA6_MGPIO9A_OE),
	.SPI0_SS3_USBA_DATA7_MGPIO10A_OE(SPI0_SS3_USBA_DATA7_MGPIO10A_OE),
	.SPI0_SS4_MGPIO19A_OE(SPI0_SS4_MGPIO19A_OE),
	.SPI0_SS5_MGPIO20A_OE(SPI0_SS5_MGPIO20A_OE),
	.SPI0_SS6_MGPIO21A_OE(SPI0_SS6_MGPIO21A_OE),
	.SPI0_SS7_MGPIO22A_OE(SPI0_SS7_MGPIO22A_OE),
	.SPI1_SCK_OE(SPI1_SCK_OE),
	.SPI1_SDI_MGPIO11A_OE(SPI1_SDI_MGPIO11A_OE),
	.SPI1_SDO_MGPIO12A_OE(SPI1_SDO_MGPIO12A_OE),
	.SPI1_SS0_MGPIO13A_OE(SPI1_SS0_MGPIO13A_OE),
	.SPI1_SS1_MGPIO14A_OE(SPI1_SS1_MGPIO14A_OE),
	.SPI1_SS2_MGPIO15A_OE(SPI1_SS2_MGPIO15A_OE),
	.SPI1_SS3_MGPIO16A_OE(SPI1_SS3_MGPIO16A_OE),
	.SPI1_SS4_MGPIO17A_OE(SPI1_SS4_MGPIO17A_OE),
	.SPI1_SS5_MGPIO18A_OE(SPI1_SS5_MGPIO18A_OE),
	.SPI1_SS6_MGPIO23A_OE(SPI1_SS6_MGPIO23A_OE),
	.SPI1_SS7_MGPIO24A_OE(SPI1_SS7_MGPIO24A_OE),
	.USBC_XCLK_OE(USBC_XCLK_OE)
);
defparam MSS_ADLIB_INST.INIT=1438'h0000300C000000300000000000000000000000000000000000000000000000000000000000000000000000000000000001203610000000000000000000000000000000000000000F00000000F000000000000000000000000000000007FFFFFFFB000001007C33F00000000E094C0700003FFFFE4000000000000100000000F0F01C000001825D44010842108421000001FE34001FF8000000400000000020091007FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF;
defparam MSS_ADLIB_INST.ACT_UBITS=56'hFFFFFFFFFFFFFF;
defparam MSS_ADLIB_INST.MEMORYFILE="ENVM_init.mem";
defparam MSS_ADLIB_INST.RTC_MAIN_XTL_FREQ=0.0;
defparam MSS_ADLIB_INST.RTC_MAIN_XTL_MODE="";
defparam MSS_ADLIB_INST.DDR_CLK_FREQ=100.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* demo_sb_sb_MSS */

module demo_sb_sb_FABOSC_0_OSC (
  FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC
)
;
output FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire GND ;
wire VCC ;
//@12:322
// @7:26
  RCOSC_25_50MHZ I_RCOSC_25_50MHZ (
	.CLKOUT(FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
defparam I_RCOSC_25_50MHZ.FREQUENCY=50.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* demo_sb_sb_FABOSC_0_OSC */

module demo_sb_sb (
  SPI_0_SS0,
  SPI_0_DO,
  SPI_0_DI,
  SPI_0_CLK,
  GPIO_3_M2F_c,
  GPIO_4_M2F_c,
  GPIO_2_M2F_c,
  demo_sb_sb_0_I2C_0_SCL_M2F,
  demo_sb_sb_0_I2C_0_SCL_M2F_OE,
  demo_sb_sb_0_I2C_0_SDA_M2F,
  demo_sb_sb_0_I2C_0_SDA_M2F_OE,
  MMUART_0_TXD_M2F_c,
  GPIO_8_M2F_c,
  BIBUF_1_Y,
  BIBUF_0_Y,
  GPIO_9_F2M_c,
  MMUART_0_RXD_F2M_c,
  DEVRST_N
)
;
inout SPI_0_SS0 /* synthesis syn_tristate = 1 */ ;
output SPI_0_DO ;
input SPI_0_DI ;
inout SPI_0_CLK /* synthesis syn_tristate = 1 */ ;
output GPIO_3_M2F_c ;
output GPIO_4_M2F_c ;
output GPIO_2_M2F_c ;
output demo_sb_sb_0_I2C_0_SCL_M2F ;
output demo_sb_sb_0_I2C_0_SCL_M2F_OE ;
output demo_sb_sb_0_I2C_0_SDA_M2F ;
output demo_sb_sb_0_I2C_0_SDA_M2F_OE ;
output MMUART_0_TXD_M2F_c ;
output GPIO_8_M2F_c ;
input BIBUF_1_Y ;
input BIBUF_0_Y ;
input GPIO_9_F2M_c ;
input MMUART_0_RXD_F2M_c ;
input DEVRST_N ;
wire SPI_0_SS0 ;
wire SPI_0_DO ;
wire SPI_0_DI ;
wire SPI_0_CLK ;
wire GPIO_3_M2F_c ;
wire GPIO_4_M2F_c ;
wire GPIO_2_M2F_c ;
wire demo_sb_sb_0_I2C_0_SCL_M2F ;
wire demo_sb_sb_0_I2C_0_SCL_M2F_OE ;
wire demo_sb_sb_0_I2C_0_SDA_M2F ;
wire demo_sb_sb_0_I2C_0_SDA_M2F_OE ;
wire MMUART_0_TXD_M2F_c ;
wire GPIO_8_M2F_c ;
wire BIBUF_1_Y ;
wire BIBUF_0_Y ;
wire GPIO_9_F2M_c ;
wire MMUART_0_RXD_F2M_c ;
wire DEVRST_N ;
wire SYSRESET_POR_Z ;
wire FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire LOCK ;
wire GL0_INST ;
wire CORERESETP_0_RESET_N_F2M ;
wire GND ;
wire VCC ;
// @12:335
  SYSRESET SYSRESET_POR (
	.POWER_ON_RESET_N(SYSRESET_POR_Z),
	.DEVRST_N(DEVRST_N)
);
// @12:180
  demo_sb_sb_CCC_0_FCCC CCC_0 (
	.FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC),
	.LOCK(LOCK),
	.GL0_INST_1z(GL0_INST)
);
// @12:213
  CoreResetP_Z1 CORERESETP_0 (
	.CORERESETP_0_RESET_N_F2M(CORERESETP_0_RESET_N_F2M),
	.GL0_INST(GL0_INST),
	.SYSRESET_POR(SYSRESET_POR_Z)
);
// @12:284
  demo_sb_sb_MSS demo_sb_sb_MSS_0 (
	.GL0_INST(GL0_INST),
	.CORERESETP_0_RESET_N_F2M(CORERESETP_0_RESET_N_F2M),
	.MMUART_0_RXD_F2M_c(MMUART_0_RXD_F2M_c),
	.GPIO_9_F2M_c(GPIO_9_F2M_c),
	.BIBUF_0_Y(BIBUF_0_Y),
	.BIBUF_1_Y(BIBUF_1_Y),
	.LOCK(LOCK),
	.GPIO_8_M2F_c(GPIO_8_M2F_c),
	.MMUART_0_TXD_M2F_c(MMUART_0_TXD_M2F_c),
	.demo_sb_sb_0_I2C_0_SDA_M2F_OE(demo_sb_sb_0_I2C_0_SDA_M2F_OE),
	.demo_sb_sb_0_I2C_0_SDA_M2F(demo_sb_sb_0_I2C_0_SDA_M2F),
	.demo_sb_sb_0_I2C_0_SCL_M2F_OE(demo_sb_sb_0_I2C_0_SCL_M2F_OE),
	.demo_sb_sb_0_I2C_0_SCL_M2F(demo_sb_sb_0_I2C_0_SCL_M2F),
	.GPIO_2_M2F_c(GPIO_2_M2F_c),
	.GPIO_4_M2F_c(GPIO_4_M2F_c),
	.GPIO_3_M2F_c(GPIO_3_M2F_c),
	.SPI_0_CLK(SPI_0_CLK),
	.SPI_0_DI(SPI_0_DI),
	.SPI_0_DO(SPI_0_DO),
	.SPI_0_SS0(SPI_0_SS0)
);
// @12:322
  demo_sb_sb_FABOSC_0_OSC FABOSC_0 (
	.FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* demo_sb_sb */

module demo_sb (
  DEVRST_N,
  GPIO_9_F2M,
  MMUART_0_RXD_F2M,
  SPI_0_DI,
  GPIO_2_M2F,
  GPIO_3_M2F,
  GPIO_4_M2F,
  GPIO_8_M2F,
  MMUART_0_TXD_M2F,
  SPI_0_DO,
  I2C_0_SCL,
  I2C_0_SDA,
  SPI_0_CLK,
  SPI_0_SS0
)
;
input DEVRST_N ;
input GPIO_9_F2M ;
input MMUART_0_RXD_F2M ;
input SPI_0_DI ;
output GPIO_2_M2F ;
output GPIO_3_M2F ;
output GPIO_4_M2F ;
output GPIO_8_M2F ;
output MMUART_0_TXD_M2F ;
output SPI_0_DO /* synthesis syn_tristate = 1 */ ;
inout I2C_0_SCL /* synthesis syn_tristate = 1 */ ;
inout I2C_0_SDA /* synthesis syn_tristate = 1 */ ;
inout SPI_0_CLK /* synthesis syn_tristate = 1 */ ;
inout SPI_0_SS0 /* synthesis syn_tristate = 1 */ ;
wire DEVRST_N ;
wire GPIO_9_F2M ;
wire MMUART_0_RXD_F2M ;
wire SPI_0_DI ;
wire GPIO_2_M2F ;
wire GPIO_3_M2F ;
wire GPIO_4_M2F ;
wire GPIO_8_M2F ;
wire MMUART_0_TXD_M2F ;
wire SPI_0_DO ;
wire I2C_0_SCL ;
wire I2C_0_SDA ;
wire SPI_0_CLK ;
wire SPI_0_SS0 ;
wire BIBUF_0_Y ;
wire demo_sb_sb_0_I2C_0_SDA_M2F ;
wire BIBUF_1_Y ;
wire demo_sb_sb_0_I2C_0_SCL_M2F ;
wire GND ;
wire VCC ;
wire GPIO_9_F2M_c ;
wire MMUART_0_RXD_F2M_c ;
wire GPIO_2_M2F_c ;
wire GPIO_3_M2F_c ;
wire GPIO_4_M2F_c ;
wire GPIO_8_M2F_c ;
wire MMUART_0_TXD_M2F_c ;
wire demo_sb_sb_0_I2C_0_SDA_M2F_OE ;
wire demo_sb_sb_0_I2C_0_SCL_M2F_OE ;
// @13:112
  BIBUF BIBUF_1 (
	.Y(BIBUF_1_Y),
	.PAD(I2C_0_SCL),
	.D(demo_sb_sb_0_I2C_0_SCL_M2F),
	.E(demo_sb_sb_0_I2C_0_SCL_M2F_OE)
);
// @13:101
  BIBUF BIBUF_0 (
	.Y(BIBUF_0_Y),
	.PAD(I2C_0_SDA),
	.D(demo_sb_sb_0_I2C_0_SDA_M2F),
	.E(demo_sb_sb_0_I2C_0_SDA_M2F_OE)
);
// @13:33
  INBUF GPIO_9_F2M_ibuf (
	.Y(GPIO_9_F2M_c),
	.PAD(GPIO_9_F2M)
);
// @13:34
  INBUF MMUART_0_RXD_F2M_ibuf (
	.Y(MMUART_0_RXD_F2M_c),
	.PAD(MMUART_0_RXD_F2M)
);
// @13:39
  OUTBUF GPIO_2_M2F_obuf (
	.PAD(GPIO_2_M2F),
	.D(GPIO_2_M2F_c)
);
// @13:40
  OUTBUF GPIO_3_M2F_obuf (
	.PAD(GPIO_3_M2F),
	.D(GPIO_3_M2F_c)
);
// @13:41
  OUTBUF GPIO_4_M2F_obuf (
	.PAD(GPIO_4_M2F),
	.D(GPIO_4_M2F_c)
);
// @13:42
  OUTBUF GPIO_8_M2F_obuf (
	.PAD(GPIO_8_M2F),
	.D(GPIO_8_M2F_c)
);
// @13:43
  OUTBUF MMUART_0_TXD_M2F_obuf (
	.PAD(MMUART_0_TXD_M2F),
	.D(MMUART_0_TXD_M2F_c)
);
// @13:123
  demo_sb_sb demo_sb_sb_0 (
	.SPI_0_SS0(SPI_0_SS0),
	.SPI_0_DO(SPI_0_DO),
	.SPI_0_DI(SPI_0_DI),
	.SPI_0_CLK(SPI_0_CLK),
	.GPIO_3_M2F_c(GPIO_3_M2F_c),
	.GPIO_4_M2F_c(GPIO_4_M2F_c),
	.GPIO_2_M2F_c(GPIO_2_M2F_c),
	.demo_sb_sb_0_I2C_0_SCL_M2F(demo_sb_sb_0_I2C_0_SCL_M2F),
	.demo_sb_sb_0_I2C_0_SCL_M2F_OE(demo_sb_sb_0_I2C_0_SCL_M2F_OE),
	.demo_sb_sb_0_I2C_0_SDA_M2F(demo_sb_sb_0_I2C_0_SDA_M2F),
	.demo_sb_sb_0_I2C_0_SDA_M2F_OE(demo_sb_sb_0_I2C_0_SDA_M2F_OE),
	.MMUART_0_TXD_M2F_c(MMUART_0_TXD_M2F_c),
	.GPIO_8_M2F_c(GPIO_8_M2F_c),
	.BIBUF_1_Y(BIBUF_1_Y),
	.BIBUF_0_Y(BIBUF_0_Y),
	.GPIO_9_F2M_c(GPIO_9_F2M_c),
	.MMUART_0_RXD_F2M_c(MMUART_0_RXD_F2M_c),
	.DEVRST_N(DEVRST_N)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* demo_sb */

